*{
    margin: 0;
    padding: 0;
}
.singContainer{
    display:block;
    align-items: center;
    width:50%;
    margin: auto;
}
.singContainer h2{
    display: block;
    text-align: left;
    padding: 0px;
    font-size: 38px;
}
.formSign{
    width:100%;
    display: block;
    margin:0px auto;
    padding:15px 25px;
    align-items: center;

}
.formSign label{
    display: block;
    padding:20px 0px 5px;
}
.formSign input{
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    border-radius: 30px;
    width:95%;
}
.formSign button{
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border:1px solid #515A5A;
    border-radius: 30px;
    width:auto;
    margin: 15px 0px;
    font-weight: bold;
    color: #333;
    text-align: center;
    background-color:#FFC300;
}