*{
    margin: 0;
    padding: o;
}
.main{
    display: inline-block;
}
.marketing{
    display: inline;
}
.jumrton{
    padding:35px;
    margin: 0;
}
.jumrton h1{
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.jumrton h3{
   display: block;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}
.jumrton small{
    font-size: 1.5rem;
    text-transform: uppercase;
    opacity: 0.8;
    letter-spacing: 7px;
}
.jumrton p{
    display: block;
    float: left;
    padding:25px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}
.text-bg-dark {
    color: #fff!important;
    background: url(images/bs-it.png) no-repeat 0 0;
    width:100%;
    max-width: 100%;
    min-height: 460px;
    padding:35px 0px;
    background-size: cover;
    height: 100vh;
    margin: 0;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}