
.navBar-Container{
    width:100%;
    margin:0px auto;
    background-color:transparent;
    display: inline-block;
   
}
.navBar-Container ul{
    display: flex;
    float: right;
    padding: 1px;
}
.navBar-Container ul a{
    color: white;
    text-decoration: none;
    float: right;
    
}
.navBar-Container ul li{
    display: flex;
    float: right;
    padding: 25px 15px;
}
.navBar-Container ul a.active{
    color: #fff;
    border-bottom: 2px solid #e9ecf8;
    display: block;
}
.text-bg-dark-nav {
    background:#000;
    width:100%;
    background-size: cover;
    margin: 0;
}